.fLayer,
.sLayer,
.tLayer,
.foLayer,
.fiLayer,
.siLayer,
ul {
  display: flex;
}
.container {
  top: 50px;
  position: relative;
}
body {
  background-color: rgb(9, 48, 13);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul,
li {
  list-style: none;
  padding: 8px 20px;
  background-color: brown;
  margin: 0px 4px;
}

li {
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
}

.display {
  height: 50px;
  background-color: aqua;

  width: 312px;

  justify-content: end;
}

button {
  height: 30px;
  width: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: cadetblue;
  cursor: pointer;
}

#operator,
#numDis {
  font-weight: bolder;
  font-size: large;
}

.marie {
  top: 20px;
  height: 500px;
  width: 500px;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 440px;
  display: none;
}

video {
  position: relative;
  height: 700px;
  width: 100%;
}
